body { 	
    /* font-family: 'Cordia New', "Segoe UI", sans-serif; */
    /* font-family: Arial, Arial, Helvetica, sans-serif; */
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.80em;
    align: center; 
    color: #440334;
}

.fondoaccess {
    width: 680px;
    height:400px;
    background: url('images/fondoinicial.png') no-repeat top;    
}
a {   
    font-variant: small-caps;
    /* color: #999999; */  
}
	
h2.error  {
    background: #af0000;
    color: #ffffff;    
}
label {
    /*font-variant: small-caps; */
    font-size: 1.2em;
}

h1 {
    margin-top: -5px;
    margin-bottom: -5px; 
    padding: 5px;
    color:#440334;
}
h2 {
    padding: 5px;
    color: #440334;
    margin-bottom:0!important;
}

#cabecera {
    width: 850px;
    height:181px;
    background: url('images/cabecera.gif') no-repeat right;    
}

#resumen {
    width: 820px;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af; */
    background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#ErrorFechas  {
    width: 820px;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af;*/
    background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
.input {
    border-color:#843f80; 
    border-style:solid; 
    border-width:1px;
}
select {
    border-color:#843f80; 
    border-style:solid; 
    border-width:1px;
}
cabecerafija {
    padding: 5px;
}
#fila {
    width: 850px;
}
.formsize {
    width: 380px;    
    border-color:#843f80; 
    border-style:solid; 
    border-width:1px; 
}

#info{
    float: left;
    width: 820px;
    /* height: 200px;*/
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af;*/
    background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#grupo1 {
    float: left;
    width: 400px; 
    height: 830px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#440334;
    /* border: solid 1px #0069af; */
  background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#grupo2 {
    left: 430;
    float: left;
    width: 400px; 
    height: 830px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#440334;
    /* border: solid 1px #0069af; */
  background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
#grupo3 {
    float: left;
    width: 400px;
    height: 350px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#440334;
    /* border: solid 1px #0069af; */
   background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
#grupo4 {
    left: 430;
    float: left;
    width: 400px;
    height: 350px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#440334;
    /* border: solid 1px #0069af; */
   background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
#grupo5 {
    float: left;
    width: 400px;
    height: 520px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#440334;
    /* border: solid 1px #0069af;*/
    background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
#grupo6 {
    float: left;
    width: 400px;
    height: 250px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#440334;
    /* border: solid 1px #0069af;*/
   background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#grupo7 {
    float: left;
    width: 400px;
    height: 250px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#440334;
    background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#grupo8 {
    float: left;
    width: 400px;
    height: 250px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#440334;
    background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#grupofantasma {
	float: left;
	width: 400px;
	height: 250px;
	margin: 5px 5px 5px 5px;
	padding: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
    color:#440334;
	background: #d8c1d6;
}

#grupohipica {
	float: left;
	width: 400px;
	margin: 5px 5px 5px 5px;
	padding: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
    color:#440334;
	background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
#grupoenquesta {
    float: left;
    width: 820px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#440334;
    /* border: solid 1px #0069af;*/
    background: #d8c1d6 /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#botonera {
    float: left;
    width: 820px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#440334;
    /* border: solid 1px #0069af;*/
    background: #d8c1d6;
}

a:link {	
    text-decoration:none;
    color: #5555ff;  
}
a:visited {	
    text-decoration:none;
    color: #5555ff;  
}
a:hover 
{	text-decoration:underline;
	color: #ff0000;  }
a:active 
{	text-decoration:underline;
	color: #5555ff;  }

a.removeA {
    color: #ffffff;
    font-weight: bold;
    background: #bb0000;
    margin: 5px 5px 5px 5px;
    padding-left: 4px;    
    padding-right: 4px;    
}
a.Enquesta {
    color: #ffffff;
    font-weight: bold;
    background: #ef9800;
    padding-left: 4px;    
    padding-right: 4px;    
}

label.status{ 	
    font-size: 0.75em;	
}



label.ultimoacceso
{ 	font-size: 0.75em;	
	clear:both;}

label.bold
{   font-weight: bold; }

label.error
{	color: red;	}

#logo 
{	float:left;}

#menu 
{	float:right;}

#cuerpo
{    clear:both;}

#flogin
{   padding: 15px;
    border: thin solid #000000;}

.izz
{	float:left;}

.der
{	float:right;}

.nuevaFila
{   clear:both;}

.disabled
{   background-color: #cccccc;}

.my-modal {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: 0;
    /*box-shadow: 0 0 125px #000000 inset;*/
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
     -webkit-transform: translateZ(0);
}
.my-modal-dialog {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    bottom: 0;
    margin: 10%;
    padding: 30px;
    top: 0;
    font-family:Arial, Helvetica, sans-serif;
}
#termsAndConditions {
    display: none;
}
#termsAndConditions .toolbar {
    position: relative;
}
.toolbar .close {
    cursor: pointer;
    font-size: 175%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 50px;
}
#termsAndConditions .content {
    height: 500px;
    overflow: auto;
    padding: 0 30px 0 0;
    text-align: justify;
}

 #termsAndConditions .content .terms_text {color:inherit!important;}

 .laraya {
    position:absolute;
    height:9px;
    box-shadow:0 1px 3px rgba(0,0,0,0.25);
    background:white;
    left:0;top:0;
    width:100%;
    z-index:100;
}

#datos_curso_1 {
    background: #d8c1d6;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    border-radius: 4px!important;
}

#datos_curso_2 {
    background: #d8c1d6;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    border-radius: 4px!important;
}

#datos_curso_3 {
    background: #d8c1d6;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    border-radius: 4px!important;
}

#datos_curso_4 {
    background: #d8c1d6;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    border-radius: 4px!important;
}

#datos_curso_5 {
    background: #d8c1d6;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    border-radius: 4px!important;
}

#datos_curso_6 {
    background: #d8c1d6;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    border-radius: 4px!important;
}

#datos_curso_7 {
    background: #d8c1d6;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    border-radius: 4px!important;
}

#datos_curso_8 {
    background: #d8c1d6;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    border-radius: 4px!important;
}

#datos_curso_9 {
    background: #d8c1d6;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    border-radius: 4px!important;
}

#datos_audiovisual {
    background: #d8c1d6;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    border-radius: 4px!important;
}

#datos_observaciones {
    background: #d8c1d6;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;      
    border-radius: 4px!important;
}

#datos_curso_conocido {
    background: #d8c1d6;   
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    border-radius: 4px!important;
}

#datos_curso_condiciones {
    background: #d8c1d6; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;   
    border-radius: 4px!important;
}
.uk-panel-box {
    background: rgb(239, 230, 239)!important;
    border-radius: 4px!important;
}
.uk-form input:not([type]), .uk-form input[type="text"], .uk-form input[type="password"], .uk-form input[type="email"], .uk-form input[type="url"], .uk-form input[type="search"], .uk-form input[type="tel"], .uk-form input[type="number"], .uk-form input[type="datetime"], .uk-form input[type="datetime-local"], .uk-form input[type="date"], .uk-form input[type="month"], .uk-form input[type="time"], .uk-form input[type="week"], .uk-form input[type="color"], .uk-form select, .uk-form textarea {
    border-radius: 4px!important;
}
.box2 {
    border: 2px solid #49245e !important;
    border-radius: 5px !important;
    padding: 10px;
}
.fondorojo {
    background-color: firebrick;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

input[type="text"], select, textarea {
    width: 100%;
}

div[class*="uk-width-"] {
    margin-top:10px;
}

.cstm-title-sup {
    color: #44073a !important;
    font-weight: bolder !important;
    margin: 0!important;
    padding: 0!important;
}
.cstm-title-inf {
    color: #843f80 !important;
    font-weight: bolder !important;
    margin: 0!important;
    padding: 0!important;
}

input[type="radio"] {
    margin-left: 10px!important;
}

#grupoinfo {  
    color:#440334;  
    margin: auto;    
    padding: 5px;    
    width: 820px;    
    padding-left: 5px;    
    padding-bottom: 5px;    
    padding-top: 5px;    
    background: #d8c1d6;
}

.info #grupoinfo {
    color: #440334;
    margin: 50px;
    padding: 25px;
    background: #d8c1d6;
    border-radius: 5px;
}

.continuar {
    text-align: right;
}

.btnSubmit {
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    background-color: #843F80!important;
    border: 0px solid #843F80!important;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff !important;
    font-size: 14px;
    text-decoration: none;
    float: none;
}

.btnSubmit:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
	-moz-filter: brightness(110%);
}